@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h3>Ошибка</h3>
</head>
<body>
    <div>
        <h5>@ViewBag.Errors</h5>
        <a href="">Вернуться назад</a>
    </div>
    
</body>
</html> 